section {
  border: 2px solid rgb(217, 16, 243);
  padding: 8px;
  margin: 20px;
  display: inline-block;
}
.s1 {
  background-color: blue;
}
.s1 > div {
  background-color: white;
}
.s1_1 p {
  line-height: 30px;
}
.s2 > div {
  width: 300px;
  padding: 35px;
  border: 5px dotted #222;
  background: skyblue;
}
.s2 > .bg1 {
  background-clip: border-box;
}
.s2 > .bg2 {
  background-clip: padding-box;
}
.s2 > .bg3 {
  background-clip: content-box;
}
.s3 > div {
  width: 500px;
  height: 500px;
}
.s3 > .fg1 {
  background-image: url(../imeges/bg1.png);
}
.s4 > div {
  width: 500px;
  height: 500px;
  border: 2px double black;
}
.s4 > .bg1 {
  background: url("../imeges/bg4.jpg") no-repeat left top;
  background-size: auto;
}
.s4 > .bg2 {
  background: url("../imeges/bg4.jpg") no-repeat left top;
  background-size: 200px 150px;
}
.s4 > .bg3 {
  background: url("../imeges/bg4.jpg") no-repeat left top;
  background-size: 60% 40%;
}
.s4 > .bg4 {
  background: url("../imeges/bg4.jpg") no-repeat left top;
  background-size: contain;
}
.s4 > .bg5 {
  background: url("../imeges/bg4.jpg") no-repeat left top;
  background-size: cover;
}
.s4 > .bg6 {
  background: url("../imeges/bg4.jpg") no-repeat left top;
  background-size: 100% 100%;
}
.s5 > button {
  left: 20%;
  width: 140px;
  height: 50px;
  background-color: rgb(0, 110, 255);
  border: 1px solid rgb(0, 110, 255);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}
.s5_1 {
  background-image: url(../imeges/light.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.s5_2 {
  background-image: url(../imeges/light.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.s6 > div {
  width: 400px;
  height: 200px;
  padding: 35px;
  border: 15px solid #ccc;
}
.s6 > .bg1 {
  background: url("../imeges/bg3.jpg") no-repeat;
  background-origin: padding-box;
}
.s6 > .bg2 {
  background: url("../imeges/bg3.jpg") no-repeat;
  background-origin: border-box;
}
.s6 > .bg3 {
  background: url("../imeges/bg3.jpg") no-repeat;
  background-origin: content-box;
}
.s7 > div {
  width: 300px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
}
.s7 > div > h1 {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
.s7 {
  background: url("../imeges/bottom-bg.jpg") no-repeat;
  background-origin: content-box;
  background-size: contain;
  background-position: center bottom;
}
.bulb {
  background: url(../imeges/apple-bg.jpg) no-repeat right bottom;
  background-size: cover;
}
.s8 > div {
  width: 500px;
  height: 300px;
}
.s9 div {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}
.s9 .glad1 {
  background: linear-gradient(to right bottom, blue, white);
  background: blue; /* css3 미지원 브라우저 */
  background: -webkit-linear-gradient(
    left top,
    blue,
    white
  ); /* 초기 모던 브라우저 */
  background: -moz-linear-gradient(
    right bottom,
    blue,
    white
  ); /* 초기 모던 브라우저 */
  background: -o-linear-gradient(
    right bottom,
    blue,
    white
  ); /* 초기 모던 브라우저 */
}
.s9 .glad2 {
  background: #ff0000; /* CSS3 미지원 브라우저*/
  background: -webkit-linear-gradient(
    45deg,
    #ff0000,
    #ffffff
  ); /* 초기 모던 브라우저 */
  background: -moz-linear-gradient(
    45deg,
    #ff0000,
    #ffffff
  ); /* 초기 모던 브라우저 */
  background: -o-linear-gradient(
    45deg,
    #ff0000,
    #ffffff
  ); /* 초기 모던 브라우저 */
  background: linear-gradient(45deg, #ff0000, #ffffff); /* 최신 모던 브라우저 */
}
.s9 .glad3 {
  background: #06f; /* css3 미지원 브라우저 */
  background-image: -webkit-linear-gradient(
    top,
    #06f,
    white 30%,
    #06f
  ); /* 초기 모던 브라우저 */
  background-image: -moz-linear-gradient(
    bottom,
    #06f,
    white 30%,
    #06f
  ); /* 초기 모던 브라우저 */
  background: -o-linear-gradient(
    bottom,
    #06f,
    white 30%,
    #06f
  ); /* 초기 모던 브라우저 */
  background: linear-gradient(
    to bottom,
    #06f,
    white 30%,
    #06f
  ); /* 최신 모던 브라우저 */
}
.s9 .glad4 {
  background: red;
  background: -webkit-radial-gradient(white, yellow, red);
  background: -moz-radial-gradient(white, yellow, red);
  background: -o-radial-gradient(white, yellow, red);
  background: radial-gradient(white, yellow, red);
}
.s9 .glad5 {
  background: red;
  background: -webkit-radial-gradient(circle, white, yellow, red);
  background: -moz-radial-gradient(circle, white, yellow, red);
  background: -o-radial-gradient(circle, white, yellow, red);
  background: radial-gradient(circle, white, yellow, red);
}
.s9 .glad6 {
  background: blue;
  background: -webkit-radial-gradient(10% 10%, circle, white, blue);
  background: -moz-radial-gradient(10% 10%, circle, white, blue);
  background: -o-radial-gradient(10% 10%, circle, white, blue);
  background: radial-gradient(circle at 10% 10%, white, blue);
}
.s9 li {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
}
.s9 .glad7 {
  background: darkgreen;
  background: -webkit-radial-gradient(
    30% 40%,
    circle closest-side,
    white,
    yellow,
    green
  );
  background: -moz-radial-gradient(
    30% 40%,
    circle closest-side,
    white,
    yellow,
    green
  );
  background: -o-radial-gradient(
    30% 40%,
    circle closest-side,
    white,
    yellow,
    green
  );
  background: radial-gradient(
    circle closest-side at 30% 40%,
    white,
    yellow,
    green
  );
}
.s9 .glad8 {
  background: darkgreen;
  background: -webkit-radial-gradient(
    30% 40%,
    circle closest-corner,
    white,
    yellow,
    green
  );
  background: -moz-radial-gradient(
    30% 40%,
    circle closest-corner,
    white,
    yellow,
    green
  );
  background: -o-radial-gradient(
    30% 40%,
    circle closest-corner,
    white,
    yellow,
    green
  );
  background: radial-gradient(
    circle closest-corner at 30% 40%,
    white,
    yellow,
    green
  );
}
.s9 .glad9 {
  background: darkgreen;
  background: -webkit-radial-gradient(
    30% 40%,
    circle farthest-side,
    white,
    yellow,
    green
  );
  background: -moz-radial-gradient(
    30% 40%,
    circle farthest-side,
    white,
    yellow,
    green
  );
  background: -o-radial-gradient(
    30% 40%,
    circle farthest-side,
    white,
    yellow,
    green
  );
  background: radial-gradient(
    circle farthest-side at 30% 40%,
    white,
    yellow,
    green
  );
}
.s9 .glad10 {
  background: darkgreen;
  background: -webkit-radial-gradient(
    30% 40%,
    circle farthest-corner,
    white,
    yellow,
    green
  );
  background: -moz-radial-gradient(
    30% 40%,
    circle farthest-corner,
    white,
    yellow,
    green
  );
  background: -o-radial-gradient(
    30% 40%,
    circle farthest-corner,
    white,
    yellow,
    green
  );
  background: radial-gradient(
    circle farthest-corner at 30% 40%,
    white,
    yellow,
    green
  );
}
.s9 .glad11 {
  background: skyblue;
  background: -webkit-radial-gradient(red, yellow, skyblue);
  background: -moz-radial-gradient(red, yellow, skyblue);
  background: -o-radial-gradient(red, yellow, skyblue);
  background: radial-gradient(red, yellow, skyblue);
}
.s9 .glad12 {
  background: skyblue;
  background: -webkit-radial-gradient(red, yellow 20%, skyblue);
  background: -moz-radial-gradient(red, yellow 20%, skyblue);
  background: -o-radial-gradient(red, yellow 20%, skyblue);
  background: radial-gradient(red, yellow 20%, skyblue);
}
.s9 .glad13 {
  background: red; /* css3 미지원 브라우저 */
  background: -webkit-repeating-linear-gradient(
    yellow,
    red 20px
  ); /* 초기 모던 브라우저 */
  background: -moz-repeating-linear-gradient(
    yellow,
    red 20px
  ); /* 초기 모던 브라우저 */
  background: -o-repeating-linear-gradient(
    yellow,
    red 20px
  ); /* 초기 모던 브라우저 */
  background: repeating-linear-gradient(
    yellow,
    red 20px
  ); /* 최신 모던 브라우저 */
}
.s9 .glad14 {
  background: red; /* css3 미지원 브라우저 */
  background: -webkit-repeating-linear-gradient(
    yellow,
    yellow 20px,
    red 20px,
    red 40px
  ); /* 초기 모던 브라우저 */
  background: -moz-repeating-linear-gradient(
    yellow,
    yellow 20px,
    red 20px,
    red 40px
  ); /* 초기 모던 브라우저 */
  background: -o-repeating-linear-gradient(
    yellow,
    yellow 20px,
    red 20px,
    red 40px
  ); /* 초기 모던 브라우저 */
  background: repeating-linear-gradient(
    yellow,
    yellow 20px,
    red 20px,
    red 40px
  ); /* 최신 모던 브라우저 */
}
.s9 .glad15 {
  background: linear-gradient(to bottom, green, white);
  height: 500px;
}
.q1 {
  font-family: "맑은 고딕", 돋움;
}
.q1 .container {
  width: 500px;
  padding: 10px;
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
}
.q1 h1 {
  font-size: 17px;
}

.q1 p {
  font-size: 16px;
  line-height: 25px;
}
.q2 {
  font-family: "맑은 고딕", 돋움;
}
.q2 .container {
  width: 500px;
  padding: 10px;
  border: 1px solid blue;
  background: rgba(0, 0, 255, 0.2);
}
.q2 h1 {
  font-size: 17px;
}

.q2 p {
  font-size: 16px;
  line-height: 25px;
}
.q2 .container:hover {
  background-color: blue;
  color: white;
}
.q3 {
  font-family: "맑은 고딕", 돋움;
}
.q3 .container {
  position: relative;
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background: url(../imeges/apple-bg.jpg) no-repeat;
  background-size: cover;
}
.q3 .content {
  position: absolute;
  top: 300px;
  width: 90%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.q3 h1 {
  font-size: 30px;
  text-align: center;
}
