section {
  border: 2px solid rgb(217, 16, 243);
  padding: 8px;
  margin: 10px;
  display: inline-block;
}
.s1 .p1 {
  font-family: "Times New Roman", Times, serif;
}

.s1 .p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.s1 .p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.s2 p {
  font-family: Tahoma, Verdana, sans-serif;
}
.s3 {
  font-family: Arial, sans-serif;
}
.s4 {
  font-family: Verdana, sans-serif;
}
.s5 {
  font-family: Tahoma, sans-serif;
}
.s6 {
  font-family: "Trebuchet MS", sans-serif;
}
.s7 {
  font-family: "Times New Roman", serif;
}
.s8 {
  font-family: Georgia, serif;
  border: 2px solid rgb(241, 8, 20);
  padding: 8px;
  margin: 10px;
  display: inline-block;
}
.s9 {
  font-family: Garamond, serif;
}
.s10 {
  font-family: "Courier New", monospace;
}
.s11 {
  font-family: "Brush Script MT", cursive;
}
.s12 {
  font-family: Copperplate, Papyrus, fantasy;
}
.s13 p.normal {
  font-style: normal;
}

.s13 p.italic {
  font-style: italic;
}

.s13 p.oblique {
  font-style: oblique;
}
.s14 p.normal {
  font-weight: normal;
}

.s14 p.light {
  font-weight: lighter;
}

.s14 p.thick {
  font-weight: bold;
}

.s14 p.thicker {
  font-weight: 900;
}
.s15 p.normal {
  font-variant: normal;
}

.s15 p.small {
  font-variant: small-caps;
}
