body {
  height: 5000px;
}
.box {
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
  position: sticky;
  top: 0;
}
.blue {
  background-color: blue;
}
